<div>
  <h2>De avonturen van {{name}}</h2>
  <app-multiple-choice *ngIf="multiQuestion$ | async" [name]="name!" [question$]="multiQuestion$"
                       (submitEvent)="onSubmit($event)"></app-multiple-choice>
  <app-flavor-text *ngIf="flavorText$ | async" [question$]="flavorText$" (submitEvent)="onSubmit($event)">
  </app-flavor-text>
  <app-open-question *ngIf="openQuestion$ | async" [name]="name!" [question$]="openQuestion$"
                     (submitEvent)="onSubmit($event)"></app-open-question>
</div>
