<mat-card>
  <mat-card-title>De avonturen van {{name}}</mat-card-title>
  <mat-card-content>
    <p>{{question?.text}}</p>
    <label id="question-label">{{multiQuestion?.question}}{{openQuestion?.question}}</label>
    <mat-radio-group aria-labelledby="question-label" class="multiple-choice-group" [(ngModel)]="chosenOption">
      <mat-radio-button *ngFor="let option of multiQuestion?.options" [value]="option" class="option-radio-button">
        {{option.text}}
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="primary" type="submit" (click)="onSubmit($event)">Antwoord >></button>
  </mat-card-actions>
</mat-card>
