<p>Hey hallo! Wat leuk dat je meedoet!</p>
<p>Deze quiz gaat over Dungeons & Dragons, of D&D in het kort.</p>
<p>D&D is een rollenspel waar iedereen een karakter speelt, wat is jouw naam in dit avontuur?</p>
<form [formGroup]="characterForm" (ngSubmit)="onSubmit($event)">
  <div>
    <input type="text" class="form-control" formControlName="name" required>
    <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger">

      <div *ngIf="name?.errors?.required">
        Name is required.
      </div>
      <div *ngIf="name?.errors?.minlength">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="name?.errors?.forbiddenName">
        Name cannot be Bob.
      </div>
    </div>
  </div>
  <button type="submit" placeholder="Grog, Magus, Twix, etc." [disabled]="!characterForm.valid">Op avontuur!
    >></button>
</form>
